{
	"presets": [
		"stage-0",
	],
	"plugins": [
		"add-module-exports",
		["transform-es2015-destructuring", { loose: false }],
		["transform-es2015-modules-commonjs", { loose: false }],
		"transform-es2015-parameters",
		"transform-es2015-spread",
	]
}
